body {

  background-color: tan;
}

.jumbotron {
  margin-top: 50px;

}

#result {

  display:none;
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  color: white;
  margin-bottom: 40px
}

.button{
  text-align: center;
  margin-top: 30px;
}

.main-header {
  text-align:center
}

.centerquestion {
  margin-top: 40px;
  font-style: italic;
  text-align: center;
}
